@import url('https://fonts.googleapis.com/css?family=Prosto+One');

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #16a085;
  color: #fff;
}

h1 {
  font-family: 'Prosto One', cursive;
  font-size: 3rem;
}

p {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
}

.foo {
  float: left;
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.processing {
  background: rgb(255,255,255);
}
